<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-call-directory" version="1.7.1">
  <name>CallDirectory</name>
  <author>GEDYS IntraWare</author>
  <description>Cordova plugin to build an iOS Call Directory extension</description>
  <license>MIT</license>
  <keywords>cordova,plugin,callkit,ios,calldirectory,caller-id</keywords>
  <repo>https://github.com/GEDYSIntraWare/cordova-plugin-call-directory</repo>
  <issue>https://github.com/GEDYSIntraWare/cordova-plugin-call-directory/issues</issue>

  <js-module src="www/CallDirectory.js" name="CallDirectory">
    <clobbers target="CallDirectory"/>
  </js-module>

  <engines>
    <engine name="cordova" version=">=6.0.0"/>
  </engines>

  <!-- ios -->
  <platform name="ios">
    <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
    <config-file target="config.xml" parent="/*">
      <feature name="CallDirectory">
        <param name="ios-package" value="CallDirectory"/>
      </feature>
    </config-file>

    <config-file target="config.xml" parent="/*"/>

    <config-file parent="com.apple.security.application-groups" target="*-Debug.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>
    <config-file parent="com.apple.security.application-groups" target="*-Release.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>

    <hook type="after_prepare" src="hooks/fixAppEntitlements.js"/>
    <hook type="after_platform_add" src="hooks/prerequisites.js"/>
    <hook type="after_platform_add" src="hooks/copyExtension.js"/>
    <hook type="after_platform_add" src="hooks/addExtensionToProject.js"/>

    <source-file src="src/ios/CallDirectory.swift"/>
  </platform>

</plugin>
